body {
    background: black;

    margin: 0;
    height: 150px;
    font-family: "nunito", "sans-serif";
}

.infoBox {
    display: inline-block;
    margin: 30px;
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
    border: dimgrey;
    text-align: center;
    color: white;
    width: 250px;
    height: 200px;
}

.infoBox hr {
    width: 50%;
}

button {
    border: none;
    text-align: center;
}

.infoBox p {
    padding: 0;
    margin: 0;
}

.infoBox button {
    background-color: black;
    border-color: transparent;
    border-radius: 2px;
    color: white;
    width: 120px;
    height: 35px;
}

#home {
    color: white;
}

#token {
    margin-top: 20%;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
}

textarea:focus, input:focus{
    outline: none;
}

#token input {
    border: none;
    border-radius: 2px;
    width: 200px;
    height: 25px;
    text-align: center;
}

#home input {
    border: none;
    border-radius: 2px;
    width: 200px;
    height: 25px;
    text-align: center;
}

#home select {
    width: 200px;
    height: 25px;
    text-align: center;
    border-radius: 2px;
    border: none;
}

#home button {
    margin-top: 10px;
}

#home input {
    margin-top: 5px;
}

#verification-error {
    color: red;
}

#home {
    display: none;
    grid-template-columns: repeat(2, 1fr);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}